/* css样式重置文件 */
* {
  margin: 0;
  padding: 0
}

#app,body,html {
  width: 100%;
  height: 100%;
  overflow: hidden
}

body {
  font-family: "微软雅黑";
}

a {
  text-decoration: none
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}